.row1{
    height: 100px;
    background-color: slateblue;
    display: flex;
    gap: 30px;

}
.box1{
    padding-left: 20px;
    padding-top: 10px;

}
.box2{
    height: 46px;
    width: 8px;
    background-color: yellow;
    margin-top: 22px;
    margin-left: 68%;
}
.box3{
    padding-top: 10px;
}
.row2{
    height: 30px;
    background-color: yellow;
}
.row3{
    margin-top: 20px;
    text-align: center;
}
.row4 h3{
    padding: 51px 236px;
    word-spacing: 6px;
    line-height: 30px;
    margin-left: -127px;
    letter-spacing: 2px;
}
.row5{
    margin-top: 30px;
    height: 10px;
    width: 74%;
    background-color: yellow;
    margin-left: 10%;
}
.row6 h3{
    padding: 51px 236px;
    word-spacing: 6px;
    line-height: 30px;
    margin-left: -127px;
    letter-spacing: 2px;

}
.row8{
    margin-top: 60px;
    background-color: yellow;
    height: 20px;
}
.row9{
    background-color: blueviolet;
    height: 60px;
    display: flex;
    gap: 624px;

}
.box12{

}
.box13{

}